<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Registration</h1>
        <form action="/login-validate" method="POST">
            Username: <input type="text" name="username" /><br />
            Password: <input type="password" name="password"><br />
            Email: <input type="email" name="email"><br />
            API Key: <input type="text" name="api_key"><br />
            Shared Secret: <input type="text" name="shared_secret" ><br />
            <button>Submit</button>
        </form>
    </body>
</html>