@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');

:root{
  --color-primary: #1E90FF;
  --color-secondary: #00BFFF;

  --color-gradient-1: #43e97b;
  --color-gradient-2: #38f9d7;

  --font-normal: 'Poppins', sans-serif;
  --font-bold: 'Montserrat', sans-serif;
  --font-size: 18px;
}

html{
  background: linear-gradient(90deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-normal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, button, textarea, input{
  font-family: var(--font-normal);
  font-size: var(--font-size);
}

button, input, textarea{
  border: none;
  outline: none;
}

.heading{
  margin: 10px;
  font-family: var(--font-bold);
  font-size: 40px;
}

button{
  background: linear-gradient(90deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  font-family: var(--font-bold);
  min-width: 250px;
  height: 55px;
  padding: 15px;
  border-radius: 50px;
  transition: 0.3s all ease;
}

button:hover{
  background: linear-gradient(180deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  transform: scale(0.9);
  transition: 0.3s all ease;
}

a{
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-bold);
}


/* Header */
.header{
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 3px 5px rgb(200, 200, 200);
}

.header img{
  width: 100%;
  height: 60px;
  margin-top: 10px;
  object-fit: contain;
}

/* Container */
.container{
  margin-top: 100px;
}

.content{
  margin: auto;
  width: 80%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 40px;
}

/* Content List */
.content-list{
  margin-top: 10px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 2px 3px 5px rgb(200, 200, 200);
  display: flex;
}

.content-list img{
  height: 24px;
  object-fit: contain;
}

.content-list p {
  margin: 0;
}

.flex-one{
  flex: 1;
}

.flex-three{
  flex: 3;
}

.content-list .name{
  font-family: var(--font-bold);
  font-size: 20px;
}

.content-list .date{
  color: var(--color-primary);
}

/* Form */
.login-form{
  margin: auto;
  margin-top: 100px;
  width: 35%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgb(150, 150, 150);
  padding: 40px;
}

.login-form .form-input{
  margin-top: 20px;
}

.login-form label{
  font-family: var(--font-bold);
}

.login-form input{
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid gray;
  width: calc(100% - 20px);
  padding: 10px;
  font-size: var(--font-size);
}

.login-form input:focus{
  border-color: var(--color-primary);
}


/* RECEIPTS COMPONENT */
/* Table */
.scroll-div{
  overflow-x: scroll;
  height: 500px;
  border: 2px solid rgb(150, 150, 150);
}

.receipts-table{
  /* background: rgba(235, 235, 235, 0.5); */
  font-size: calc(var(--font-size) - 2px);
  border-collapse: collapse;
}

.receipts-table th{
  position: sticky;
  top: 0;
}

.receipts-table, .receipts-table th, .receipts-table td{
  border: 1px solid rgb(150, 150, 150);
}

.receipts-table td, .receipts-table th{
  text-align: center;
  padding: 10px 30px 10px 30px;
}

.receipts-table tr:hover{
  border: 2px solid rgb(50, 50, 50);
  box-shadow: 2px 3px 5px rgb(200, 200, 200);
}

.receipts-table th{
  background: var(--color-gradient-1);
  color: black;
  font-family: var(--font-bold);
}